<div >
			<div class="span2 btn-group">
				<a class="btn btn-small btn-info dropdown-toggle" data-toggle="dropdown" href="#">
					Jump to version
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<!-- dropdown menu links -->
					<li ng-repeat="version in versions">
						<a href="" id="" ng-click="">{{version.id}}
						</a>
					<li class="divider"></li>
					<li>
						<a href="" id="" ng-click="">
							<div><button class="btn btn-small btn-info"><i class="icon-plus-sign-alt"> New version</i></button></div>

						</a>
					</li>
				</ul>
			</div>
	
</div>