<div>
	<div class="modal-header">
		<button type="button" class="close" ng-click="advertiser.clicked.rnew=false;">×</button>
		<h3 id="NewFunctionLabel1" class="success">Add advertiser</h3>
	</div>
	<form name="advertiserForm" ng-model="advertiserForm" id="advertiserForm" class="css-form" novalidate>

		<div class="modal-body">

			<div class="row-fluid">
				<div class="span12">

					<div class="span2">
						Advertiser ID: 
					</div>
					<div class="span10">
						<div class="left-inner-addon">
							<i class="icon-list-alt"></i>
							<input type="text" class="form-control" ng-model="advertiser.uid" ng-change="change()" ng-minlength="3" ng-maxlength="20" name="uid" required/>
							<span class="error red" ng-show="advertiserForm.uid.$error.required">*</span>
							<span class="error red" ng-show="uides.indexOf(advertiser.uid) != -1">Advertiser ID already exists.</span>
							<span class="error red" ng-show="advertiserForm.uid.$error.minlength">Too short!</span>
							<span class="error red" ng-show="advertiserForm.uid.$error.maxlength">Too long!</span><br>
						</div>
					</div>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span12">

					<div class="span2">
						Name: 
					</div>
					<div class="span10">
						<div class="left-inner-addon">
							<i class="icon-list-alt"></i>
							<input type="text" class="form-control" ng-model="advertiser.name" ng-change="change()" ng-minlength="3" ng-maxlength="20" name="name" required/>
							<span class="error red" ng-show="advertiserForm.name.$error.required">*</span>
							<span class="error red" ng-show="names.indexOf(advertiser.name) != -1">Name already exists.</span>
							<span class="error red" ng-show="advertiserForm.name.$error.minlength">Too short!</span>
							<span class="error red" ng-show="advertiserForm.name.$error.maxlength">Too long!</span><br>
						</div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">

					<div class="span2">
						Description:   
					</div>
					<div class="span10">
						<div class="left-inner-addon">
							<i class="icon-list-alt"></i>
							<input type="text" class="form-control" ng-model="advertiser.description" ng-minlength="3" ng-maxlength="200" ng-change="change()" name="description"/>
							<span class="error red" ng-show="advertiserForm.description.$error.minlength">Too short!</span>
							<span class="error red" ng-show="advertiserForm.description.$error.maxlength">Too long!</span><br>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn" ng-click="advertiser.clicked.rnew=false;">Cancel</button>
			<button id="submit" ng-click = "save(advertiser); close();" ng-model="btnsubmit" type="submit" data-dismiss="modal" aria-hidden="true" class="btn" ng-disabled="!advertiserForm.$valid || form.uid.$error || names.indexOf(advertiser.name) != -1 || uides.indexOf(advertiser.uid) != -1" >Save</button>
		</div>
	</form>
</div>