<div id="NewMacro" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="NewMacroLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="NewContainerLabel1" class="success">Module add</h3>

	</div>

	<div class="modal-body">
		
		
		
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button id="submit" ng-click = "save(macro, '', ''); set('getModules', '', '');" ng-model="btnsubmit" type="submit" data-dismiss="modal" aria-hidden="true" class="btn" ng-disabled="form.$invalid || names.indexOf(macro.name) != -1" >Save</button>
	</div>
</form>
</div>