<div class="row-fluid" ng-controller="JSCodeCtrl">
	<div class="span12">
		<div id="action_code" ng-hide="false" style="float: left; ">

			<div class="action_code-section" ng-show="true" style="height: 500px; width: 600px; border: 1px wheat solid; float: left; padding-right: 10px;" >

				<label>JavaScript: </label>
				<textarea name="actionCodeJS"
						  ng-model="actionCodeJS"
						  ng-change="change()"
						  ui-codemirror="actionCodeOptions"
						  required
						  style="">

				</textarea>
			</div>

		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
	</div>
</div>