<div class="dropdown" id="myMenu" style="position: absolute;" ng-controller="ContextMenu">
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation">
		<a class="pointer" role="menuitem" tabindex="-1" ng-click="set('new')"><span class="icon-arrow"></span> New</a>
    </li>
    <li role="presentation">
      <a class="pointer" role="menuitem" tabindex="-1" ng-click="set('new_version')">New version</a>
    </li>
    <li role="presentation">
      <a class="pointer" role="menuitem" tabindex="-1" ng-click="set('jump_version')">Jump to version</a>
    </li>
    <li role="presentation">
      <a class="pointer" role="menuitem" tabindex="-1" ng-click="set('delete')">Delete</a>
    </li>
  </ul>
</div>