<div id="sidebar-shortcuts-large">
	<a href="/universal-tag-manager/admin-settings">
		<button class="btn btn-small btn-warning" >
			<i class="icon-list"></i>
		</button>
	</a>

	<a href="/universal-tag-manager">
		<button class="btn btn-small btn-info">
			<i class="icon-plus-sign"></i>
		</button>
	</a>

	<button class="btn btn-small btn-success">
		<i class="icon-group"></i>
	</button>
	<a href="/universal-tag-manager/admin-settings">
	<button class="btn btn-small btn-danger">
		<i class="icon-cogs"></i>
	</button>
	</a>	
</div>

<div id="sidebar-shortcuts-mini">
	<span class="btn btn-success"></span>

	<span class="btn btn-info"></span>

	<span class="btn btn-warning"></span>

	<span class="btn btn-danger"></span>
</div>